<header class=" body-font border-b xs:border-b lg:border-b-6">
  <div class="container flex flex-wrap p-5 md:flex-row items-center">
    <a href="<%= root_path %>" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <%= image_tag('22225678.png', alt: "名僧診断", class: 'w-10 h-10 text-white p-0.5 bg-blue-300 rounded-full') %>
        <span class=" ml-3 text-xl  md:text-4xl lg:text-4xl">名僧マッチ</span>
    </a>

    <div class="text-red-900">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </div>

    <div class = "flex">
      <div class="md:hidden">
          <i class="fa-duotone fa-solid fa-bars"></i>
      </div>
    </div>

  </div>
  <div class="text-red-900">Text</div>
</header>
