<div class="gradation-image object-contain">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="text-center max-w-2xl mx-auto shadow-md mt-10">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-900 md:mb-8 lg:text-3xl">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mx-auto max-w-lg rounded-lg border flex flex-col gap-4 p-4 md:p-8">
    
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "message_type text-red-700" %>
          <% end %>

          <div class="field">
            <%= f.label :email, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレスを入力",class: "w-full border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力" ,class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
          </div>
         
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          
          <div class="actions">
            <%= f.submit "ログイン", class: "btn w-full min-w-[120px] rounded border text-black bg-gradient-to-r from-[#a48953] to-[#8c7444] hover:from-white hover:to-white hover:text-gold1 hover:border-gold1" %>
          </div>
        </div>
      <% end %>
      <div class="py-">  
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
