<div class="py-1 sm:py-6 lg:py-7 mt-5">
  <div class="mx-auto max-w-screen-xl px-5 md:px-8">

    <div class="mb-5 md:mb-10">
      <h1 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl">投稿一覧</h1>
      <p class="py-3 mx-auto max-w-screen-md text-center md:text-lg">あなたが訪れた寺院・史跡名跡を共有</p>
    </div>

      <!-- カード全体 -->
    <div class="grid grid-cols-2  sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <!-- 個別カード -->
          <div class="overflow-hidden bg-white-90 shadow-md rounded">
            <!-- 写真 -->
            <div class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
              <%= link_to image_tag(post.post_image_url, loading: "lazy", alt: "post image", class: "absolute inset-0 h-full w-full object-center transition duration-500 group-hover:scale-110 ",width: "300", height: "200"), post_path(post) %>
            </div>

            <div class="p-1 sm:p-1">

              <div class="flex items-center">
                <h2 class="text-md font-semibold"><%= post.temple_name %></h2>
                ｜<span class="text-xs text-gray-700"><%= post.location%></span>
              </div>

              <p class="text-gray-500 break-words text-xs mt-2"><%= truncate(post.comment, length: 100) %></p>

              <div class="mt-auto flex items-center items-end justify-between">
                <div class="flex items-center gap-2">
                  <div>
                    <span class="block text-sm text-indigo-500"><%= post.user.name %></span>
                  </div>
                </div>

                <span class="px-2 py-1 text-xs text-gray-500">作成: <%= post.created_at.strftime("%Y-%m-%d") %></span>
              </div>
            </div>
            
          </div>

        <% end %>
      </div>
    <% else %>
      <div class="col-span-2 sm:col-span-2 md:col-span-3 flex items-center justify-center">
        <p class="text-gray-700 text-center">掲示板がありません。</p>
      </div>
    <% end %>
  </div>
</div>
