<div class="text-center max-w-2xl mx-auto shadow-md mt-10">
  <h1 class="mb-4 text-center text-2xl font-bold text-gray-900 md:mb-8 py-2 lg:text-3xl">新規投稿</h1>
    <div class="pb-4 text-red-700">
      <%= render 'shared/error_messages', object: @post %>
    </div>

    <%= form_with model: @post, class: "new_post" do |f| %>
    <div class="mx-auto max-w-lg rounded-lg border flex flex-col gap-4 md:p-8">
      <div>
        <%= f.label :寺院・史跡名, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
        <%= f.text_field :temple_name, class: "form-control w-full border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
      <div>
        <%= f.label :場所, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
        <%= f.text_field :location, class: "form-control form-control w-full border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
      <div>
        <%= f.label :コメント, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
        <%= f.text_area :comment, class: "form-control form-control w-full border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
      </div>
      <div class="pt-4 pb-4">
        <%= f.submit nil, class: "btn w-full min-w-[120px] rounded border text-black bg-gradient-to-r from-[#a48953] to-[#8c7444] hover:from-white hover:to-white hover:text-gold1 hover:border-gold1" %>
      </div>
    <% end %>
  </div>
</div>
